@font-face {
  font-family: "Allura";
  src: url(/assets/fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(/assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(/assets/fonts/Roboto-Light.ttf);
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  text-align: center;
  font-family: Roboto, serif;
  max-width: 4000px;
  margin: 0 auto;
}

main {
  background-color: #21201e;
}

h4 {
  text-transform: uppercase;
  font-family: Poppins, serif;
}

li {
  list-style: none;
}

nav {
  position: absolute;
  top: 0;
  max-width: 2000px;
  width: 90%;
  margin: 0 auto;
  padding: 30px;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .nav-logo h2 {
  font-family: Allura, serif;
  font-size: 2.8rem;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  cursor: pointer;
}
nav .nav-logo h2:hover {
  color: rgb(165, 115, 69);
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  width: 70%;
  font-size: 1.1rem;
}
nav ul li {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  cursor: pointer;
  position: relative;
}
nav ul li:hover {
  color: rgb(165, 115, 69);
}
nav ul li:after {
  content: "";
  height: 1px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: rgb(165, 115, 69);
}
nav ul li:hover::after {
  -webkit-animation: Li_underline 1s ease forwards;
          animation: Li_underline 1s ease forwards;
}
@-webkit-keyframes Li_underline {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes Li_underline {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
nav .nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-transform: uppercase;
  width: 10%;
}
nav .nav-icons i {
  font-size: 1.3rem;
  color: white;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  cursor: pointer;
}
nav .nav-icons i:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: rgb(165, 115, 69);
}

header {
  height: 100vh;
  background: url(/assets/img/bg-slider-06.jpg) center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}
header .header-container {
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  opacity: 0;
  -webkit-animation: HeaderAnim 2s forwards;
          animation: HeaderAnim 2s forwards;
}
@-webkit-keyframes HeaderAnim {
  to {
    -webkit-transform: translateY(-33%);
            transform: translateY(-33%);
    opacity: 1;
  }
}
@keyframes HeaderAnim {
  to {
    -webkit-transform: translateY(-33%);
            transform: translateY(-33%);
    opacity: 1;
  }
}
header .header-container h2 {
  font-size: 4.5rem;
  color: rgb(165, 115, 69);
  font-family: Allura, serif;
  font-weight: 100;
  -webkit-filter: drop-shadow(1px 1px 1px black);
          filter: drop-shadow(1px 1px 1px black);
}
header .header-container h1 {
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: 10px;
  font-family: Poppins, serif;
  line-height: 35px;
}
header .header-container img {
  margin: 60px 0 45px;
  height: 40px;
}
header .header-container p {
  letter-spacing: 8px;
  font-family: Roboto, serif;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 200;
}

main h3 {
  font-family: Allura, serif;
  color: rgb(165, 115, 69);
  font-size: 3.7rem;
  font-weight: 100;
  line-height: 20px;
}
main img {
  height: 50px;
  margin: 45px auto;
}
main .section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 650px;
  width: 100%;
}
main .section1 h2 {
  text-transform: uppercase;
  font-family: Poppins, serif;
  font-size: 2.1rem;
}
main .section1 .S1-left {
  background-color: #eeeeee;
  padding: 20px;
  max-width: 50%;
}
main .section1 .S1-left .S1-left-container {
  height: 100%;
  border: dashed 1px rgb(165, 115, 69);
  padding: 70px 55px 40px;
}
main .section1 .S1-left .S1-left-container p {
  font-size: 1.3rem;
}
main .section1 .S1-left .S1-left-container img:nth-of-type(2) {
  height: 115px;
  border-radius: 100px;
  margin: 40px 0 5px;
}
main .section1 .S1-left .S1-left-container h4 {
  font-weight: 100;
  font-size: 1.5rem;
}
main .section1 .S1-left .S1-left-container p:nth-of-type(2) {
  font-family: Roboto, serif;
  color: #a9a69e;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 15px;
}
main .section1 .S1-right {
  width: 50%;
}
main .section1 .S1-right .S1-right-img {
  background: url(/assets/img/store-01.jpg) center/cover;
  width: 100%;
  height: 100%;
}
main .section2 {
  min-height: 100px;
  position: relative;
}
main .section2 .S2-top {
  min-height: 485px;
}
main .section2 .S2-middle {
  position: absolute;
  width: 55%;
  top: 8%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
main .section2 .S2-middle ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 10px 0 40px;
}
main .section2 .S2-middle ul li {
  color: #eeeeee;
  font-size: 1.3rem;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
main .section2 .S2-middle ul li:hover {
  color: rgb(165, 115, 69);
}
main .section2 .S2-middle ul li::after {
  content: "";
  height: 1px;
  background: #eeeeee;
  width: 100%;
  position: absolute;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
main .section2 .S2-middle ul li:hover::after {
  background: rgb(165, 115, 69);
}
main .section2 .S2-middle .menu {
  background-color: #eeeeee;
  border-top: 5px solid rgb(165, 115, 69);
  min-height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .section2 .S2-middle .menu .menu-column1 {
  width: 50%;
}
main .section2 .S2-middle .menu .menu-column2 {
  width: 50%;
}
main .section2 .S2-middle .menu .menu-plat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: start;
  height: 25%;
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px dashed #a9a69e;
  position: relative;
}
main .section2 .S2-middle .menu .menu-plat:nth-child(4) {
  border-bottom: none;
}
main .section2 .S2-middle .menu .menu-plat img {
  margin: 0;
  height: 130px;
  border-radius: 150px;
}
main .section2 .S2-middle .menu .menu-plat .nom-du-plat {
  padding: 0 55px 0 10px;
}
main .section2 .S2-middle .menu .menu-plat .nom-du-plat h5 {
  font-size: 1rem;
  text-transform: uppercase;
}
main .section2 .S2-middle .menu .menu-plat .nom-du-plat p {
  font-size: 1.3rem;
  margin: 5px 0 0;
}
main .section2 .S2-middle .menu .menu-plat span {
  color: rgb(165, 115, 69);
  font-size: 1.3rem;
  font-weight: bold;
  position: absolute;
  right: 0;
}
main .section2 .S2-bottom {
  background: url(/assets/img/bg-menu-01.jpg) center/cover;
  min-height: 900px;
  width: 100%;
}
main .section3 .S3-content {
  width: 70%;
  min-height: 500px;
  margin: 100px auto;
  display: grid;
  grid-template-columns: 30% 70%;
}
main .section3 .S3-content .S3-left {
  padding: 30px;
  background: black;
}
main .section3 .S3-content .S3-left .S3-left-container {
  border: 1px dashed #eeeeee;
  padding: 40px 0;
  height: 100%;
}
main .section3 .S3-content .S3-left .S3-left-container h3 {
  font-size: 2.8rem;
  line-height: 20px;
}
main .section3 .S3-content .S3-left .S3-left-container h2 {
  color: white;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: Poppins, serif;
}
main .section3 .S3-content .S3-left .S3-left-container img {
  height: 40px;
}
main .section3 .S3-content .S3-left .S3-left-container h4 {
  color: rgb(165, 115, 69);
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
main .section3 .S3-content .S3-left .S3-left-container p {
  color: #eeeeee;
  margin: 15px 0 45px;
}
main .section3 .S3-content .S3-right {
  background: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .section3 .S3-content .S3-right h3 {
  font-size: 3.2rem;
}
main .section3 .S3-content .S3-right h4 {
  font-size: 2rem;
}
main .section3 .S3-content .S3-right img {
  height: 35px;
  margin: 25px 0 0;
}
main .section3 .S3-content .S3-right .button-reservation {
  display: grid;
  margin: 35px 0;
  grid-template-columns: 1fr 1fr 1fr;
}
main .section3 .S3-content .S3-right input,
main .section3 .S3-content .S3-right select {
  margin: 15px;
  padding: 15px 0;
  border: none;
  border-bottom: 1px solid #a9a69e;
  font-size: 1rem;
  background: none;
  outline: none;
}
main .section3 .S3-content .S3-right button {
  padding: 15px 40px;
  background: black;
  color: #eeeeee;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: 10px;
  border-radius: 50px;
  cursor: pointer;
  font-family: Poppins, serif;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
main .section3 .S3-content .S3-right button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
main .Section4 .S4-content {
  width: 60%;
  max-width: 1500px;
  margin: 0 auto;
}
main .Section4 .S4-content h3 {
  line-height: 40px;
  font-size: 3.2rem;
}
main .Section4 .S4-content h4 {
  font-size: 2.3rem;
  color: white;
}
main .Section4 .S4-content img {
  height: 45px;
}
main .Section4 .S4-content .buy-tickets {
  display: grid;
  text-align: start;
  grid-template-columns: 60% 40%;
  grid-template-areas: "a b" "c b";
  gap: 20px;
}
main .Section4 .S4-content .buy-tickets .ticket-date {
  background: #21201e;
  color: white;
  height: 86px;
  width: 86px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 22px;
}
main .Section4 .S4-content .buy-tickets .ticket-date h6 {
  font-size: 1.7rem;
}
main .Section4 .S4-content .buy-tickets .ticket-date h5 {
  font-size: 1.1rem;
  font-weight: 100;
}
main .Section4 .S4-content .buy-tickets .ticket-container {
  height: 80%;
}
main .Section4 .S4-content .buy-tickets .ticket-container h5 {
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: 500;
  padding-left: 8px;
}
main .Section4 .S4-content .buy-tickets .ticket-container p {
  color: #a9a69e;
  font-size: 1.1rem;
  margin: 25px 0 40px;
  letter-spacing: 1px;
}
main .Section4 .S4-content .buy-tickets .ticket-container h6 {
  font-size: 1.1rem;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
}
main .Section4 .S4-content .buy-tickets .ticket-container i {
  margin-right: 3px;
  font-size: 0.8rem;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
main .Section4 .S4-content .buy-tickets .ticket-container i:nth-child(2) {
  margin-left: 10px;
}
main .Section4 .S4-content .buy-tickets .t1 {
  grid-area: a;
  display: grid;
  grid-template-columns: 38% 62%;
}
main .Section4 .S4-content .buy-tickets .t1 .ticket-left {
  background: url(/assets/img/event-01.jpg) center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .Section4 .S4-content .buy-tickets .t2 {
  grid-area: c;
  display: grid;
  grid-template-columns: 38% 62%;
}
main .Section4 .S4-content .buy-tickets .t2 .ticket-left {
  background: url(/assets/img/event-02.jpg) center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .Section4 .S4-content .buy-tickets .ticket-right {
  background: #eeeeee;
  padding: 25px 20px;
  height: 230px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .Section4 .S4-content .buy-tickets .t3 {
  grid-area: b;
  background: url(/assets/img/event-03.jpg) center/cover;
  padding: 20px;
}
main .Section4 .S4-content .buy-tickets .t3 .ticket-content {
  background: #eeeeee;
  height: 100%;
  padding: 0 30px;
  text-align: center;
}
main .Section4 .S4-content .buy-tickets .t3 .ticket-content .ticket-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .Section4 .S4-content .buy-tickets .t3 .ticket-content .ticket-container h6 {
  margin-top: 50px;
  left: 50%;
}/*# sourceMappingURL=index.css.map */