@font-face {
  font-family: "Allura";
  src: url(/assets/fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(/assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(/assets/fonts/Roboto-Light.ttf);
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  text-align: center;
  font-family: Roboto, serif;
  max-width: 4000px;
  margin: 0 auto;
}

main {
  background-color: #21201e;
}

li {
  list-style: none;
}

nav {
  position: absolute;
  top: 0;
  max-width: 2000px;
  width: 90%;
  margin: 0 auto;
  padding: 30px;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .nav-logo h2 {
  font-family: Allura, serif;
  font-size: 2.8rem;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  cursor: pointer;
}
nav .nav-logo h2:hover {
  color: rgb(165, 115, 69);
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  width: 70%;
  font-size: 1.1rem;
}
nav ul li {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  cursor: pointer;
  position: relative;
}
nav ul li:hover {
  color: rgb(165, 115, 69);
}
nav ul li:after {
  content: "";
  height: 1px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: rgb(165, 115, 69);
}
nav ul li:hover::after {
  -webkit-animation: Li_underline 1s ease forwards;
          animation: Li_underline 1s ease forwards;
}
@-webkit-keyframes Li_underline {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes Li_underline {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
nav .nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-transform: uppercase;
  width: 10%;
}
nav .nav-icons i {
  font-size: 1.3rem;
  color: white;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  cursor: pointer;
}
nav .nav-icons i:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: rgb(165, 115, 69);
}

header {
  height: 100vh;
  background: url(/assets/img/bg-slider-06.jpg) center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}
header .header-container {
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  opacity: 0;
  -webkit-animation: HeaderAnim 2s forwards;
          animation: HeaderAnim 2s forwards;
}
@-webkit-keyframes HeaderAnim {
  to {
    -webkit-transform: translateY(-33%);
            transform: translateY(-33%);
    opacity: 1;
  }
}
@keyframes HeaderAnim {
  to {
    -webkit-transform: translateY(-33%);
            transform: translateY(-33%);
    opacity: 1;
  }
}
header .header-container h2 {
  font-size: 4.5rem;
  color: rgb(165, 115, 69);
  font-family: Allura, serif;
  font-weight: 100;
  -webkit-filter: drop-shadow(1px 1px 1px black);
          filter: drop-shadow(1px 1px 1px black);
}
header .header-container h1 {
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: 10px;
  font-family: Poppins, serif;
  line-height: 35px;
}
header .header-container img {
  margin: 60px 0 45px;
  height: 40px;
}
header .header-container p {
  letter-spacing: 8px;
  font-family: Roboto, serif;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 200;
}

main h3 {
  font-family: Allura, serif;
  color: rgb(165, 115, 69);
  font-size: 3.7rem;
  font-weight: 100;
  line-height: 20px;
}
main img {
  height: 50px;
  margin: 45px auto;
}
main .section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 650px;
  width: 100%;
}
main .section1 h2 {
  text-transform: uppercase;
  font-family: Poppins, serif;
  font-size: 2.1rem;
}
main .section1 .S1-left {
  background-color: #eeeeee;
  padding: 20px;
  max-width: 50%;
}
main .section1 .S1-left .S1-left-container {
  height: 100%;
  border: dashed 1px rgb(165, 115, 69);
  padding: 70px 55px 40px;
}
main .section1 .S1-left .S1-left-container p {
  font-size: 1.3rem;
}
main .section1 .S1-left .S1-left-container img:nth-of-type(2) {
  height: 115px;
  border-radius: 100px;
  margin: 40px 0 5px;
}
main .section1 .S1-left .S1-left-container h4 {
  font-family: Poppins, serif;
  font-weight: 100;
  font-size: 1.5rem;
}
main .section1 .S1-left .S1-left-container p:nth-of-type(2) {
  font-family: Roboto, serif;
  color: #a9a69e;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 15px;
}
main .section1 .S1-right {
  width: 50%;
}
main .section1 .S1-right .S1-right-img {
  background: url(/assets/img/store-01.jpg) center/cover;
  width: 100%;
  height: 100%;
}
main .section2 {
  min-height: 1000px;
  position: relative;
}
main .section2 .S2-top {
  min-height: 485px;
}
main .section2 .S2-middle {
  position: absolute;
  width: 50%;
  top: 8%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
main .section2 .S2-middle ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 10px 0 40px;
}
main .section2 .S2-middle ul li {
  color: #eeeeee;
  font-size: 1.3rem;
  position: relative;
  cursor: pointer;
}
main .section2 .S2-middle ul li:hover {
  color: rgb(165, 115, 69);
}
main .section2 .S2-middle ul li:after {
  content: "";
  height: 1px;
  background: #eeeeee;
  width: 100%;
  position: absolute;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
main .section2 .S2-middle .menu {
  background-color: #eeeeee;
  border-top: 5px solid rgb(165, 115, 69);
  min-height: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .section2 .S2-middle .menu .menu-column1 {
  width: 50%;
}
main .section2 .S2-middle .menu .menu-column2 {
  width: 50%;
}
main .section2 .S2-middle .menu .menu-plat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: start;
  height: 25%;
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px dashed #a9a69e;
}
main .section2 .S2-middle .menu .menu-plat:nth-child(4) {
  border-bottom: none;
}
main .section2 .S2-middle .menu .menu-plat img {
  margin: 0;
  height: 150px;
  border-radius: 150px;
}
main .section2 .S2-bottom {
  background: url(/assets/img/bg-menu-01.jpg) center/cover;
  min-height: 1000px;
  width: 100%;
}/*# sourceMappingURL=index.css.map */