footer {
  .footer-content {
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 400px;

    .left-part {
      padding: 50px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      text-align: left;
      background: $black1;
      h2 {
        color: $color1;
        font-family: $font1;
        font-size: 2.8rem;
        font-weight: 100;
      }
      p {
        color: $white2;
        line-height: 35px;
      }
    }
    .right-part {
      max-width: 600px;
      padding: 50px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      text-align: left;
      background: $black2;
      h3 {
        color: $white1;
        font-size: 1.1rem;
        font-family: $font2;
        margin: 15px 0;
      }
      .newsletter {
        width: 100%;
        input {
          margin: 15px 0 50px;
          background: none;
          color: $gray1;
          outline: none;
          border: 1px solid rgba(129, 121, 121, 0.603);
          border-radius: 3px;
          width: 250px;
          max-width: 95%;
          padding: 8px 0 8px 15px;
        }
      }
      .follow-us {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 3fr;
        h3 {
          min-width: 110px;
        }
        ul {
          margin-left: 30px;
          display: flex;
          // width: 250px;
          width: 100%;
          justify-content: space-evenly;
          color: $gray1;
          margin: 15px 0;
        }
      }
    }
  }

  @media screen and (max-width: 1000px) {
    .footer-content {
      display: block;
      min-height: 200px;
      .left-part {
        display: none;
      }
      .right-part {
        padding: 50px 0 50px 25px;
      }
    }
  }
  @media screen and (max-width: 410px) {
  }
}
