main {
  h3 {
    font-family: $font1;
    color: $color1;
    font-size: 3.7rem;
    font-weight: 100;
    line-height: 20px;
  }
  img {
    height: 50px;
    margin: 45px auto;
  }
  .section1 {
    display: flex;
    min-height: 650px;
    width: 100%;
    h2 {
      text-transform: uppercase;
      font-family: $font2;
      font-size: 2.1rem;
    }
    .S1-left {
      background-color: $white2;
      padding: 20px;
      max-width: 50%;
      .S1-left-container {
        height: 100%;
        border: dashed 1px $color1;
        padding: 70px 55px 40px;

        p {
          font-size: 1.3rem;
        }

        img:nth-of-type(2) {
          height: 115px;
          border-radius: 100px;
          margin: 40px 0 5px;
        }
        h4 {
          font-weight: 100;
          font-size: 1.5rem;
        }
        p:nth-of-type(2) {
          font-family: $font3;
          color: $gray1;
          font-size: 1.1rem;
          font-weight: bold;
          line-height: 15px;
        }
      }
    }
    .S1-right {
      width: 50%;
      .S1-right-img {
        background: url(/assets/img/store-01.jpg) center/cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  .section2 {
    min-height: 100px;
    position: relative;
    .S2-top {
      min-height: 485px;
    }
    .S2-middle {
      position: absolute;
      width: 55%;
      top: 8%;
      left: 50%;
      transform: translateX(-50%);
      ul {
        display: flex;
        justify-content: space-around;
        margin: 10px 0 40px;
        li {
          color: $white2;
          font-size: 1.3rem;
          position: relative;
          cursor: pointer;
          transition: 0.2s ease;
          &:hover {
            color: $color1;
          }
          &::after {
            content: "";
            height: 1px;
            background: $white2;
            width: 100%;
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
          }
          &:hover::after{
            background: $color1;
          }
        }
      }

      .menu {
        background-color: $white2;
        border-top: 5px solid $color1;
        min-height: 900px;
        display: flex;
        .menu-column1 {
          width: 50%;
        }
        .menu-column2 {
          width: 50%;
        }
        .menu-plat {
          display: flex;
          align-items: center;
          text-align: start;
          height: 25%;
          width: 90%;
          margin: 0 auto;
          border-bottom: 1px dashed $gray1;
          position: relative;
          &:nth-child(4) {
            border-bottom: none;
          }
          img {
            margin: 0;
            height: 130px;
            border-radius: 150px;
          }
          .nom-du-plat {
            padding: 0 55px 0 10px;
            h5 {
              font-size: 1rem;
              text-transform: uppercase;
            }
            p {
              font-size: 1.3rem;
              margin: 5px 0 0;
            }
          }
          span {
            color: $color1;
            font-size: 1.3rem;
            font-weight: bold;
            position: absolute;
            right: 0;
          }
        }
      }
    }
    .S2-bottom {
      background: url(/assets/img/bg-menu-01.jpg) center/cover;
      min-height: 900px;
      width: 100%;
    }
  }
  .section3 {
    .S3-content {
      width: 70%;
      min-height: 500px;
      margin: 100px auto;
      display: grid;
      grid-template-columns: 30% 70%;
      .S3-left {
        padding: 30px;
        background: $black1;
        .S3-left-container {
          border: 1px dashed $white2;
          padding: 40px 0;
          height: 100%;
          h3 {
            font-size: 2.8rem;
            line-height: 20px;
          }
          h2 {
            color: $white1;
            font-size: 1.6rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-family: $font2;
          }
          img {
            height: 40px;
          }
          h4 {
            color: $color1;
            font-size: 1.3rem;
            text-transform: uppercase;
            letter-spacing: 2px;
          }
          p {
            color: $white2;
            margin: 15px 0 45px;
          }
        }
      }
      .S3-right {
        background: $white2;
        @include center;
        h3 {
          font-size: 3.2rem;
        }
        h4 {
          font-size: 2rem;
        }
        img {
          height: 35px;
          margin: 25px 0 0;
        }
        .button-reservation {
          display: grid;
          margin: 35px 0;
          grid-template-columns: 1fr 1fr 1fr;
        }
        input,
        select {
          margin: 15px;
          padding: 15px 0;
          border: none;
          border-bottom: 1px solid $gray1;
          font-size: 1rem;
          background: none;
          outline: none;
          
        }
        button {
          padding: 15px 40px;
          background: $black1;
          color: $white2;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 4px;
          margin-top: 10px;
          border-radius: 50px;
          cursor: pointer;
          font-family: $font2;
          transition: 0.2s;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .Section4 {
    .S4-content {
      width: 60%;
      max-width: 1500px;
      margin: 0 auto;
      h4 {
      font-size: 2rem;
      color: $white1;
      }
      .buy-tickets {
        display: grid;
        text-align: start;
        grid-template-columns: 68% 32%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "a b"
        "c b";
        gap: 20px;
        

        .ticket-date {
          background: $black2;
          color: $white1;
          height: 86px;
          width: 86px;
          margin: 0 auto;
          @include center ;
          line-height: 22px;
          h6 {
            font-size: 1.7rem;
          }
        }
        .ticket-container {
          h5 {
            letter-spacing: 1px;
            font-size: 1.3rem;
            font-weight: 500;
            padding-left: 8px;
          }
          p {
            color: $gray1;
            font-size: 0.9rem;
            margin-top: 20px;
            letter-spacing: 1px ;
          }
          i {
            margin-right: 3px;
            font-size: 0.7rem;
            transform: translateY(-2px);

            &:nth-child(2) {
              margin-left: 10px;
            }
          }
        }
        .ticket1 {
          grid-area: a;
          display: grid;
          grid-template-columns: 33% 67%;
          .ticket-left {
          background: url(/assets/img/event-01.jpg) center/cover;
        }
        }
        .ticket2 {
          grid-area: c;
          display: grid;
          grid-template-columns: 33% 67%;
          .ticket-left {
          background: url(/assets/img/event-02.jpg) center/cover;
        }
        }
        .ticket-right {
          background: $white2;
          padding: 20px;
        }
        .ticket3 {
          grid-area: b;
          background: url(/assets/img/event-03.jpg) center/cover;
          padding: 20px;
          .ticket-content {
            background: $white2;
            height: 100%;
          }
        }
      }
    
      

    }
  }
}
