nav {
  position: absolute;
  top: 0;
  max-width: 2000px;
  width: 90%;
  margin: 0 auto;
  padding: 30px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav-logo {
    h2 {
      font-family: $font1;
      font-size: 2.8rem;
      transition: 0.2s ease;
      cursor: pointer;
      &:hover {
        color: $color1;
      }
    }
  }
  ul {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    width: 70%;
    font-size: 1.1rem;
    li {
      transition: 0.2s ease;
      cursor: pointer;
      position: relative;
      &:hover {
        color: $color1;
      }
      &:after {
        content: "";
        height: 1px;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        background: $color1;
      }
      &:hover::after {
        animation: Li_underline 1s ease forwards;
        @keyframes Li_underline {
          from {
            width: 0%;
          }
          to {
            width: 100%;
          }
        }
      }
    }
  }
  .nav-icons {
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
    width: 10%;
    i {
      font-size: 1.3rem;
      color: $white1;
      transition: 0.2s ease;
      cursor: pointer;
      &:hover {
        transform: scale(1.3);
        color: $color1;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    display: none;
  }
}
